<% if (user.role == 'guru') { %>
<div class="week-nav">
	<button id="create" onclick="openPopup()">Create</button>
</div>
<% } %>
<section id="tabel">
	<table>
		<tr>
			<th id="tanggal-schedule">Tanggal</th>
			<th id="hari-schedule">Hari</th>
			<th id="jam_mulai-schedule">Jam Mulai</th>
			<th id="jam_selesai-schedule">Jam Selesai</th>
			<th id="data_media-schedule">Media</th>
		</tr>
		<% for (let i = 0; i < schedules.length; i++) { %>
		<tr>
			<td><%= new Date(schedules[i].date).toLocaleDateString('id-ID') %></td>
			<td>
				<%= new Date(schedules[i].date).toLocaleDateString('id-ID', { weekday:
				'long' }) %>
			</td>
			<td><%= schedules[i].start_hour %></td>
			<td><%= schedules[i].end_hour %></td>
			<td><%= schedules[i].media %></td>
		</tr>
		<% } %>
		<tr id="empty-row" style="display: none">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</section>
<% if (user.role == 'guru') { %>

<div class="popup-container" id="createpopup">
	<div class="popup-box">
		<span class="icon-close-schedule">
			<ion-icon name="close" onclick="closePopup()"></ion-icon>
		</span>
		<form action="/bikinjadwal" method="post" id="bikinjadwal">
			<div id="harigroup">
				<p id="hari">Hari</p>
				<select name="hari">
					<option>Senin</option>
					<option>Selasa</option>
					<option>Rabu</option>
					<option>Kamis</option>
					<option>Jumat</option>
					<option>Sabtu</option>
					<option>Minggu</option>
				</select>
			</div>
			<div id="tglmulaigroup">
				<p id="tglmulai">Tanggal</p>
				<select name="day"></select>
				<select name="month"></select>
				<select name="year"></select>
			</div>
			<div id="jammulaigroup">
				<p id="jammulai">Jam Mulai</p>
				<select name="jammulai">
					<option value="07:00">07:00</option>
					<option value="08:00">08:00</option>
					<option value="09:00">09:00</option>
					<option value="10:00">10:00</option>
					<option value="11:00">11:00</option>
					<option value="12:00">12:00</option>
					<option value="13:00">13:00</option>
					<option value="14:00">14:00</option>
					<option value="15:00">15:00</option>
					<option value="16:00">16:00</option>
					<option value="17:00">17:00</option>
					<option value="18:00">18:00</option>
					<option value="19:00">19:00</option>
					<option value="20:00">20:00</option>
					<option value="21:00">21:00</option>
					<option value="22:00">22:00</option>
				</select>
			</div>
			<div id="jamselesaigroup">
				<p id="jamselesai">Jam Selesai</p>
				<select name="jamselesai">
					<option value="07:00">07:00</option>
					<option value="08:00">08:00</option>
					<option value="09:00">09:00</option>
					<option value="10:00">10:00</option>
					<option value="11:00">11:00</option>
					<option value="12:00">12:00</option>
					<option value="13:00">13:00</option>
					<option value="14:00">14:00</option>
					<option value="15:00">15:00</option>
					<option value="16:00">16:00</option>
					<option value="17:00">17:00</option>
					<option value="18:00">18:00</option>
					<option value="19:00">19:00</option>
					<option value="20:00">20:00</option>
					<option value="21:00">21:00</option>
					<option value="22:00">22:00</option>
				</select>
			</div>
			<div id="mediagroup-schedule">
				<p id="media-schedule">Media</p>
				<input type="text" id="inputmedia-schedule" name="media_schedule" />
			</div>
			<div class="button-group">
				<button type="submit" id="upload">Upload</button>
			</div>
		</form>
	</div>
</div>
<% } %>
